[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dad"]
	path = dad
	url = https://github.com/cran/dad
[submodule "mcauchyd"]
	path = mcauchyd
	url = https://github.com/cran/mcauchyd
[submodule "mggd"]
	path = mggd
	url = https://github.com/cran/mggd
[submodule "mstudentd"]
	path = mstudentd
	url = https://github.com/cran/mstudentd
